<p id="notice"><%= notice %></p>


  <div class="catch-copy">
     <div class="video">
       <%= video_tag("jd99.mp4",width:"75%",height:"50%",  loop: true,autoplay: true,muted: true,  ) %>
     </div> 
  </div>

<h1>Blogs</h1>
 

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Movie</th>
      <th>Published at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.description %></td>
        <td><%= video_tag(blog.picture.to_s, height: "50%", width: "50%",loop: true,autoplay: true,muted: true,controls: true )%></td>
        <td><%= blog.published_at %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
