<style>
  .back-link {
    margin-top: 50px;
    position: relative;
  }

  footer {
    position: relative;
    z-index: 2;
  }
  
</style>
<div class="sampleWrap">
  <div class="bkRGBA">
    <div class="video">
      <%= video_tag("theop.mp4", width: "95%", height: "50%", loop: true, autoplay: true, muted: true) %>
    </div> 

    <h1 style="background-color: red; color: black; padding: 5px; text-align: center; width: fit-content; margin: 0 auto; border: 10px solid black;">Blogs</h1>

    <%= form_with(url: search_blogs_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "Search", class: "search-input", style: "width: 30%; height: 50px; border: 2px solid #FFA500;" %>
      <%= form.submit "Search Blog", class: "search-btn" %>
    <% end %>

    <div class="row justify-content-center">
      <% @blogs.each do |blog| %>
        <div class="col-md-4">
  <div class="card my-3 mx-md-auto d-flex flex-column align-items-stretch my-custom-card" style="width: 60%; min-height: 400px;">
    <% if blog.movie.present? %>
      <%= video_tag(blog.movie.to_s, class: "card-img-top my-custom-video", loop: true, autoplay: true, muted: true, controls: true, width: "100%") %>
   <% else %>
      <%= image_tag(blog.image_url, class: "card-img-top my-custom-image", height: "200px", width: "5%") if blog.image? %>
     <% end %>
    <div class="card-body">
      <h5 class="card-title" style="font-size: 16px !important;"><%= blog.title %></h5>
      <p class="card-text" style="font-size: 12px !important;">create: <%= blog.published_at.strftime("%Y/%m/%d") %></p>
      <p class="card-text" style="font-size: 12px !important;">name: <%= link_to blog.user.name, user_path(blog.user) %></p>
      <%= link_to 'Show', blog, class: 'btn btn-dark', id: "show-link-#{blog.id}", style: 'color: red !important; font-size: 12px !important;' %>
    </div>
  </div>
</div>

      <% end %>
    </div>
  </div>
</div>

<style>
  .sampleWrap {
    position: relative;
    overflow: hidden;
  }

  .my-custom-card {
    border: 5px groove #8B4513;
    padding: 10px;
    background-image: url(futi.jpeg);
    background-size: cover;
  }

  .my-custom-video {
    height: 200px; 
  }
</style>

<script>
  <% @blogs.each do |blog| %>
    var showLink<%= blog.id %> = document.getElementById('show-link-<%= blog.id %>');
    showLink<%= blog.id %>.addEventListener('mouseover', function() {
      showLink<%= blog.id %>.style.color = 'yellow';
    });

    showLink<%= blog.id %>.addEventListener('mouseout', function() {
      showLink<%= blog.id %>.style.color = 'red';
    });
  <% end %>
</script>
