<div class="sampleWrap">
  <div class="bkRGBA">
    </header>
    <div class="video">
     
      <%= video_tag("jdiary24.mp4", width: "95%", height: "50%", loop: true, autoplay: true, muted: true) %>
    </div> 

    <h1>Blogs</h1>

   <div class="row">
  <% @blogs.each do |blog| %>
    <div class="col-md-4">
      <div class="card my-3" style="width: 12rem;">
        <%= video_tag(blog.movie.to_s, class: "card-img-top", loop: true, autoplay: true, muted: true, controls: true, width: "100%", height: "auto") %>
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <p class="card-text">create: <%= blog.published_at.strftime("%Y/%m/%d") %></p> <!-- published_at を表示 -->
          <%= link_to 'Show', blog, class: 'btn btn-dark', id: "show-link-#{blog.id}", style: 'color: red;' %>
        </div>
      </div>
    </div>
  <% end %>
</div>



<script>
  <% @blogs.each do |blog| %>
    var showLink<%= blog.id %> = document.getElementById('show-link-<%= blog.id %>');
    showLink<%= blog.id %>.addEventListener('mouseover', function() {
      showLink<%= blog.id %>.style.color = 'green';
    });

    showLink<%= blog.id %>.addEventListener('mouseout', function() {
      showLink<%= blog.id %>.style.color = 'red';
    });
  <% end %>
</script>
