<style>

  .back-link {
    margin-top: 50px;
    position: relative;
  }

  footer {
    position: relative;
    z-index: 2;
  }
</style>  

<style>
  /* Mouse Stalker CSS styles */
  .mouse-stalker {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .outer-circle,
  .inner-circle {
    position: absolute;
    transition: transform 0.6s, width 0.5s, height 0.5s;
    transition-timing-function: ease-out;
  }

  .outer-circle {
    width: 40px;
    height: 40px;
    border: 2px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inner-circle {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>


  
<div class="sampleWrap">
  <div class="bkRGBA">
    <div class="video">
      <%= video_tag("theop.mp4", width: "95%", height: "50%", loop: true, autoplay: true, muted: true) %>
    </div> 

<h1 style="background-image: linear-gradient(to bottom, #FF0000, #FFA500); color: black; padding: 5px; text-align: center; width: fit-content; margin: 0 auto; border: 10px solid black;">Blogs</h1>


<div class="mouse-stalker">
  <div class="outer-circle">
    <div class="inner-circle"></div>
  </div>
</div>


    <%= form_with(url: search_blogs_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "word to search for", class: "search-input", style: "width: 30%; height: 50px; border: 2px solid #FFA500;" %>
      <%= form.submit "Search Blog", class: "search-btn" %>
    <% end %>
    <%= form_with(url: search_blogs_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :start_date, type: "date", class: "search-input", style: "width: 30%; height: 50px; border: 2px solid #FFA500;" %>
  <%= form.submit "Search Blog", class: "search-btn" %>
<% end %>


    <div class="row justify-content-center">
     <% @blogs.each do |blog| %>
  <div class="col-md-4">
    <div class="card my-3 mx-md-auto d-flex flex-column align-items-stretch my-custom-card" style="width: 60%; min-height: 400px;">
      <% if blog.movie.present? %>
        <%= link_to blog_path(blog) do %>
          <%= video_tag(blog.movie.to_s, class: "card-img-top my-custom-video", loop: true, autoplay: true, muted: true, controls: true, width: "100%") %>
        <% end %>
      <% else %>
        <% if blog.image? %>
          <%= link_to blog_path(blog) do %>
            <%= image_tag(blog.image_url, class: "card-img-top my-custom-image", height: "200px", width: "5%") %>
          <% end %>
        <% end %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title" style="font-size: 16px !important;"><%= blog.title %></h5>
        <p class="card-text" style="font-size: 12px !important;">create: <%= blog.published_at.strftime("%Y/%m/%d") %></p>
        <p class="card-text" style="font-size: 12px !important;">name: <%= link_to blog.user.name, user_path(blog.user) %></p>
        <%= link_to 'Show', blog, class: 'btn btn-dark', id: "show-link-#{blog.id}", style: 'color: red !important; font-size: 12px !important;' %>
      </div>
    </div>
  </div>
<% end %>






    </div>
  </div>
</div>

<style>
  .sampleWrap {
    position: relative;
    overflow: hidden;
  }

  .my-custom-card {
    border: 5px groove #8B4513;
    padding: 10px;
    background-image: url(futi.jpeg);
    background-size: cover;
  }

  .my-custom-video {
    height: 200px; 
  }
</style>
<script>
document.addEventListener('DOMContentLoaded', function() {
  // JavaScript code to create and append the 'mouse-stalker' div
  const stalker = document.createElement('div');
  stalker.setAttribute('class', 'mouse-stalker');
  
  const outerCircle = document.createElement('div');
  outerCircle.setAttribute('class', 'outer-circle');
  
  const innerCircle = document.createElement('div');
  innerCircle.setAttribute('class', 'inner-circle');
  
  outerCircle.appendChild(innerCircle);
  stalker.appendChild(outerCircle);
  
  document.body.appendChild(stalker);

  // Mouse move event listener
  let mouseX = 0;
  let mouseY = 0;

  const updateMousePosition = (e) => {
    mouseX = e.clientX;
    mouseY = e.clientY;
  };

  document.addEventListener('mousemove', updateMousePosition);

  // Function to update stalker position with delay
  const updateStalkerPosition = () => {
    const stalkerElement = document.querySelector('.mouse-stalker');
    const offsetX = (mouseX - parseInt(stalkerElement.style.left || 0)) / 10; // 適切な遅延を設定
    const offsetY = (mouseY - parseInt(stalkerElement.style.top || 0)) / 10; // 適切な遅延を設定
    
    stalkerElement.style.left = `${parseInt(stalkerElement.style.left || 0) + offsetX}px`;
    stalkerElement.style.top = `${parseInt(stalkerElement.style.top || 0) + offsetY}px`;

    requestAnimationFrame(updateStalkerPosition);
  };

  requestAnimationFrame(updateStalkerPosition);

  // Rest of the code...
});


  <% @blogs.each do |blog| %>
    var showLink<%= blog.id %> = document.getElementById('show-link-<%= blog.id %>');
    showLink<%= blog.id %>.addEventListener('mouseover', function() {
      showLink<%= blog.id %>.style.color = 'yellow';
      stalkerElement.classList.add('inverted'); // クラスを追加して色を反転
    });

    showLink<%= blog.id %>.addEventListener('mouseout', function() {
      showLink<%= blog.id %>.style.color = 'red';
      stalkerElement.classList.remove('inverted'); // クラスを削除して元に戻す
    });
  <% end %>
</script>
