<style>
  .back-link {
    margin-top: 50px;
    position: relative;
  }

  footer {
    position: relative;
    z-index: 2;
  }

  /* コメントセクションを囲む枠のスタイル */
  .blog__comments-wrapper {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
  }
</style>

<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= @user.name %>'s blog
      </h2>
      <div class="user__card">
        <% @user.blogs.each do |blog| %>
          <div class="blog__item">
            <% if blog.movie.present? %>
              <%= video_tag(blog.movie.to_s, class: "blog__video", loop: true, autoplay: true, muted: true, controls: true) %>
            <% else %>
              <%= image_tag(blog.image_url, class: "blog__image", width: "100%") if blog.image? %>
            <% end %>
            <div class="blog__content">
              <h3 class="blog__title"><%= blog.title %></h3>
              <p class="blog__date">create: <%= blog.published_at.strftime("%Y/%m/%d") %></p>
              <%= link_to 'Show', blog, class: 'btn btn-dark', style: 'color: red !important; font-size: 12px !important;' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- コメントセクションを囲む枠 -->
    <div class="blog__comments-wrapper">
      <!-- コメントを表示するコードをここに追加 -->
    </div>
    <div class="text-center back-link">
      <%= link_to 'Back', blogs_path, style: 'font-size: 50px' %>
    </div>
  </div>
</div>
