<!DOCTYPE html>
<html>
  <head>
    <title>JDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom', media: 'all' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
      

      .navbar.fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
      }

      .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      .container.content {
        margin-top: 80px; /* ナビゲーションバーの高さを指定 */
      }
    </style>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-black fixed-top">
      
      <div class="container">
        <div class="navbar-brand">
        
          <%= link_to root_path do %>
            <%= image_tag("logo.png", alt: "Jblog Logo", width: "70px", height: "70px") %>
          <% end %>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
          <li class="nav-item">
          <% if user_signed_in? %>
      <div class="greeting"> 
  <%#= "Hello".html_safe %>
  <%= link_to "Hello!#{current_user.name}!!", user_path(current_user), class: "greeting__link", style: "color: red !important;" %>
</div>
      <% end %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Blog</a>
            </li>
          </ul>
        </div>

       
        <% if user_signed_in? %>
             <div class="nav__right">
              <li>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: :nav__btn %>
                <%= link_to "New Proto", new_blog_path, class: :nav__btn %>
              </li>
          <% else %>
          <%# ログインしているときは以下を表示するようにしましょう %>
            <%# <div class="nav__right"> %>
              <%# <%= link_to "ログアウト", root_path, class: :nav__logout %>
              <%# <%= link_to "New Proto", root_path, class: :nav__btn %>
            <%# </div> %>
          <%# // ログインしているときは上記を表示するようにしましょう %>
          <%# ログインしていないときは以下を表示するようにしましょう %>
            <div class="nav__right">
              <%= link_to "Log In", new_user_session_path, class: :nav__btn, style: "color: red;" %>

              <%= link_to "Sign Up", new_user_registration_path, class: :nav__btn %>
            </div>
          <%# // ログインしていないときは上記を表示するようにしましょう %>
        </div>
        <% end %>
      </div>
    </nav>

    <div class="container content">
      <%= yield %>
    </div>
<footer class="footer mt-auto py-3 bg-black">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <p class="mb-0 text-white text-center">© JDiary. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>